body {
  overflow: auto !important;
}

.draggable-list {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Optional, depending on your needs */
}

* {
  margin: 0;
  padding: 0;
}